{include="header"}

<!--
 @nom: index
 @auteur: Idleman (idleman@idleman.fr) Modifie par MadItNerd
 @description: Page d'accueil
-->

{if="isset($myUser)"}
	
<ul class="nav nav-tabs" id="myTab">
{$first=0}
{loop="places"}
<li class="{if="$place==$key"}active{/if}"><a href="#{$key}">{$value['name']}</a></li>
{/loop}
</ul>
 
<div class="tab-content">
{$first=0}
{loop="places"}
{$currentPlace=$key}
<div class="tab-pane {if="$place==$key"}active{/if}" id="{$key}">
      <div class="row">
{loop="engines"}
	{if="$value2['place']==$currentPlace"}
	
<div class="span3">
          <h5> <code>{if="$value2['typeEngine']=='0'"}CHACON:{/if}{if="$value2['typeEngine']=='1'"}SCS:{/if}{$value2['code']}</code>{$value2['name']} 
		  <a class="btn {if="$value2['state']=='on'"}btn-success{/if}{if="$value2['state']=='off'"}btn-danger{/if}" href="action.php?typeengine={$value2['typeEngine']}&engine={$key}&amp;action=CHANGE_STATE&amp;code={$value2['code']}&amp;state={if="$value2['state']=='off'"}on{/if}{if="$value2['state']=='on'"}off{/if}">
		  <i class="icon-off"></i>
		  </a>
		  </h5>
		  <a class="thumbnail" href="action.php?typeengine={$value2['typeEngine']}&engine={$key}&amp;action=CHANGE_STATE&amp;code={$value2['code']}&amp;state={if="$value2['state']=='off'"}on{/if}{if="$value2['state']=='on'"}off{/if}"><img src="../../{$value['picture']}"></a>
		  {$value2['description']}
</div>

        {/if}
{/loop}

      </div>
</div>

{/loop}

</div>

	  {else}
		Vous devez vous connecter pour controler cet espace
		<br><br>
		Vous pouvez modifier le mot de passe dans <b><i>constant.php</i></b>
		<hr>
		Utilisateur par defaut:<b><i>admin</i></b>
		<br>
		Mot de passe par defaut:<b><i>admin</i></b>
	  {/if}
{include="footer"}