{include="header"}
	{if="isset($myUser)"}
	<ul class="nav nav-tabs" id="myTab">
	<li class="{if="$menu==0"}active{/if}"><a href="#peripherique">P&eacute;ripheriques</a></li>
	<li class="{if="$menu==1"}active{/if}"><a href="#lieux">Lieux</a></li>
	<li class="{if="$menu==2"}active{/if}"><a href="#programmation">Programmation</a></li>
	<li><a href="#vocale">Contrôle Vocale</a></li>
	<!--<li><a href="#utilisateurs">Utilisateurs</a></li>-->
	</ul>
	 
	
	{* 

	--------------------
	Peripherique
	--------------------
	
	*}
	
	<div class="tab-content">
	<div class="tab-pane {if="$menu==0"}active{/if}" id="peripherique">

	<table class="table table-striped">
		<tr>
		<td>
		    <form class="form-horizontal" action="action.php?action=ADD_ENGINE" method="POST" enctype="multipart/form-data">
				<div class="control-group">
					<label class="control-label" for="inputEmail" >P&eacute;riph&eacute;rique</label>
					<div class="controls">
					<input type="text" name="name" id="inputEmail" placeholder="P&eacute;riph&eacute;rique">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">Code radio</label>
						<div class="controls">
							<input type="text" name="code" id="inputPassword" placeholder="Code radio">
							<input  name="typeEngine"  value="0" type="hidden">
							<div class="btn-group">
								<button class="btn dropdown-toggle" data-toggle="dropdown">
								<span id="typeenginetext">Chacon</span>
								<span class="caret"></span>
								</button>
								<ul class="dropdown-menu">						
								<li style="cursor:pointer;">
								<a onclick="$('#typeenginetext').html('Chacon');$('input[name=\'typeEngine\']').val('0');">Chacon</a>
								<a onclick="$('#typeenginetext').html('SCS');$('input[name=\'typeEngine\']').val('1');">SCS</a>
								</li>
								</ul>
							</div>
						</div>		
				</div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">Image</label>

					<div class="controls">

						<input  name="picture" id="inputImg" type="file" style="display:none">
							<div class="input-append">
							   <input id="photoCover" placeholder="Image" class="input" type="text">
							   <a class="btn" onclick="$('input[id=inputImg]').click();">Parcourir</a>
							</div>
							 
					</div>

				</div>
				<div class="control-group">
				<label class="control-label"   for="inputPassword">Lieux</label>
				<div class="controls">
					<input class="span2" readonly="readonly" name="place" id="appendedDropdownButton" type="text">
					<input  name="idPlace"  type="hidden">
					<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
					Pi&egrave;ce
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{loop="places"}
						<li style="cursor:pointer;">
							<a onclick="$('#appendedDropdownButton').val('{$value['name']}');$('input[name=\'idPlace\']').val('{$key}');">{$value['name']}</a>
						</li>
						{/loop}
					</ul>
					</div>
				</div>
				</div>
				<div class="clear"></div>
				<div class="control-group">
					<label class="control-label" for="inputPassword">Description</label>
					<div class="controls">
					<textarea rows="3" name="description" id="inputDescription"  placeholder="Description"></textarea>
					</div>
				</div>
				    <div class="form-actions">
					<button type="submit" class="btn btn-primary">Enregistrer</button>

					</div>
			</form>
		
		</td>
		<td>
		
			<table class="table table-striped  table-bordered">
				{loop="engines"}
				<tr>
					<td><strong>{$value['name']}</strong></td>
					<td><code>{$places[$value['place']]['name']}</code></td>
					<td>
						<a class="btn btn-danger" href="./action.php?action=DELETE_ENGINE&amp;engine={$key}"><i class="icon-remove icon-white"></i></a>
						<a class="btn btn-warning" href="./modify.php?engine={$key}"><i class="icon-edit icon-white"></i></a>
					</td>
				</tr>
				
				{/loop}
			</table>
		
		</td>
		</tr>

	</table>
	
	</div>
	
	{* 

	--------------------
	Menu Lieu
	--------------------
	
	*}
	

	<div class="tab-pane {if="$menu==1"}active{/if}" id="lieux">

	<table class="table table-striped">
		<tr>
		<td>
		
		    <form class="form-horizontal" action="action.php?action=ADD_PLACE" method="POST">
				<div class="control-group">
					<label class="control-label" for="inputPlace">Lieu</label>
					<div class="controls">
		
					<input type="text" name="place"  id="inputPlace" placeholder="Salle de bain">
					</div>
				</div>
				
				    <div class="form-actions">
					<button type="submit" class="btn btn-primary">Enregistrer</button>

					</div>
			</form>
		
		</td>
		<td>
		
			<table class="table table-striped  table-bordered">
				{loop="places"}
				<tr>
					<td><strong>{$value['name']}</strong></td>
					<td>
						
						<a class="btn btn-danger" href="./action.php?action=DELETE_PLACE&amp;place={$key}"><i class="icon-remove icon-white"></i></a>
						<a class="btn btn-warning" href="./modify.php?place={$key}"><i class="icon-edit icon-white"></i></a>
					</td>
				</tr>
				
				{/loop}
			</table>
		
		</td>
		</tr>

	</table>
	
	</div>
	
	{* 

	------------------
	Menu Programmation 
	------------------
	
	*}
	

	
	<div class="widespace tab-pane {if="$menu==2"}active{/if}" id="programmation">
	
	{if="$error==1"}
	<div class="alert alert-error">
	<button type="button" class="close" data-dismiss="alert">&times;</button>
	<strong>Aucune prise selectionnée !</strong>
	</div>
	{/if}
	
	<table class="table table-striped">
		<tr>
		<td>
	<form class="form-horizontal" action="action.php?action=ADD_CRON" method="POST" enctype="multipart/form-data">
		<h2>Je veux que tu 		
			<input  name="state"  value="1" type="hidden">
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<span id="statetext">allumes</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">						
						<li style="cursor:pointer;">
							<a onclick="$('#statetext').html('allumes');$('input[name=\'state\']').val('1');">allumes</a>
							<a onclick="$('#statetext').html('eteignes');$('input[name=\'state\']').val('0');">eteignes</a>
						</li>
					</ul>
					</div>
		
			<input  name="idCronedEngine" value="noid" type="hidden">
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
					<span id="CronedEnginetext">ceci</span>
					<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{loop="engines"}
						<li style="cursor:pointer;">
							<a onclick="$('#CronedEnginetext').html('{$value['name']}');$('input[name=\'idCronedEngine\']').val('{$key}');">{$value['name']}</a>
						</li>
						{/loop}
					</ul>
					</div>
			à	
			<input type="time" name="time" id="small">
			
			Tout les 
			
			<input  name="date" type="hidden">
				<div class="btn-group">
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<span id="datetext">Date</span>
						<span class="caret"></span>
					</button>
					
			
					<ul class="dropdown-menu">						
						<li style="cursor:pointer;">
							<a onclick="$('#datetext').html('lundis');$('input[name=\'date\']').val('1');">lundis</a>
							<a onclick="$('#datetext').html('mardis');$('input[name=\'date\']').val('2');">mardis</a>
							<a onclick="$('#datetext').html('mercredis');$('input[name=\'date\']').val('3');">mercredis</a>
							<a onclick="$('#datetext').html('jeudis');$('input[name=\'date\']').val('4');">jeudis</a>
							<a onclick="$('#datetext').html('vendredis');$('input[name=\'date\']').val('5');">vendredis</a>
							<a onclick="$('#datetext').html('samedis');$('input[name=\'date\']').val('6');">samedis</a>
							<a onclick="$('#datetext').html('dimanches');$('input[name=\'date\']').val('7');">dimanches</a>
							<a onclick="$('#datetext').html('les jours');$('input[name=\'date\']').val('1-7');">les jours</a>
							<a onclick="$('#datetext').html('les jours de la semaine');$('input[name=\'date\']').val('1-5');">les jours de la semaine</a>
							<a onclick="$('#datetext').html('les jours du week-end');$('input[name=\'date\']').val('6-7');">les jours du week-end</a>
						</li>
					</ul>
					</div>
	
	
		</h2>
		<br>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">Enregistrer</button>
			

		</div>
		</form>
		</td>
		<td>
				<table class="table table-striped table-bordered">
				{loop="cron"}
				<tr>
					<td><code>{$places[$engines[$value['idCronedEngine']]['place']]['name']}</code></td>
					<td><strong>{$engines[$value['idCronedEngine']]['name']}</strong></td>
					<td>
					{if="$value['date']=='1'"}Tout les lundis{/if}
					{if="$value['date']=='2'"}Tout les mardis{/if}
					{if="$value['date']=='3'"}Tout les mercredis{/if}
					{if="$value['date']=='4'"}Tout les jeudis{/if}
					{if="$value['date']=='5'"}Tout les vendredis{/if}
					{if="$value['date']=='6'"}Tout les samedis{/if}
					{if="$value['date']=='7'"}Tout les dimanches{/if}
					{if="$value['date']=='1-7'"}Tout les jours{/if}
					{if="$value['date']=='1-5'"}Tout les jours de la semaine{/if}
					{if="$value['date']=='6-7'"}Tout les jours du week-end{/if}
					</td>
					<td>{$value['time']}</td>
					<td>{if="$value['state']==1"}<a class="btn btn-success"><i class="icon-off"></i>{/if}{if="$value['state']==0"}<a class="btn btn-danger"><i class="icon-off">{/if}</td>	
					
					<td>
						<a class="btn btn-danger" href="./action.php?action=DELETE_CRON&amp;cron={$key}"><i class="icon-remove icon-white"></i></a>
					</td>
				</tr>
				
				{/loop}
				</table>


		</td>
		</tr>
		</table>
	</div>


	{*
	
	--------------------
	Menu Contrôle Vocale 
	--------------------
	
	*}
	
	
	<div class="tab-pane" id="vocale">
		<p>Si vous souhaitez utiliser la reconnaissance vocale en plus de cette interface, vous devez au préalable télécharger et installer <a href="http://domotique.idleman.fr/data/interface%20vocale/YURI.rar">le logiciel gratuit YURI</a> sur un ordinateur doté de windows vista ou supérieur. (toutes les explications <a href="http://blog.idleman.fr/?p=1788">ici</a>)</p>

		<p>Puis, téléchargez le xml de reconnaissance adapté a vos périphériques ici <div onclick="window.location='action.php?action=GET_YURI_XML';" class="btn btn-primary">Télécharger le XML</div></p>

		<p><strong>Nb:</strong> Le XML est à placer dans le repertoire <code>\macros\</code> de votre YURI</p>
	</div>


	<!--<div class="tab-pane" id="utilisateurs">
		
	
	</div>-->
	{else}
		Vous devez vous connecter pour controler cet espace
	  {/if}

{include="footer"}
	  <script type="text/javascript">
	  
$('input[id=inputImg]').change(function() {
   $('#photoCover').val($(this).val());
});
</script>